.header{
    background-color: black;
    height: 80px
}
.name{
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    padding-top: 1px
}
.nav{
    display: inline-block;
    margin-left: 550px
}
.nav a{
    padding-left: 25px;
    text-decoration: none;
    color: white;
}

.menu-heading{
    width: 980px;
    background-color: black;
    border: none;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-size: 2em;
    margin-left: 10%;
}
.menu-heading h1{
    margin-left: 180px;
    
}
.container1{
    width: 50%;
    background-color: #777;
    border-radius: 20px;
    float: left;
}
.container1 h2{
    text-align: center;
    padding-top: 20px;
}
.container1 h3{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container1 p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
}
.container2{
    width: 50%;
    background-color: #777;
    border-radius: 20px;
    float: left
}
.container2 h2{
    text-align: center;
    padding-top: 20px;
}
.container2 h3{
    text-align: center;
}
.container2 p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
}
.container2{
    display: inline-block
}
.container3{
    width: 50%;
    background-color: #777;
    border-radius: 20px;
    float: left
}
.container3 h2{
    text-align: center;
    padding-top: 20px;
}
.container3 h3{
    text-align: center;
}
.container3 p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.container3{
    display: inline-block;
    margin-left: 26%
}
